/* Styles for chat */
.container-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.chat-container {
	background-color: #1f2528;
	width: auto;
	height: auto;
	text-align: center;
	border: 1px solid rgb(25, 108, 217);
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: rgb(25, 108, 217) 0px 5px 15px;
}