body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a2327;
    color: white;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

/* Movies Section */
.movies-section {
    background-color: #34495e;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.movie-item {
    background-color: #1a2327;
    border-radius: 10px;
    padding: 15px;
    display: flex;
}
.movie-image {
    position: relative;
    border-radius: 10px;
}
.movie-image img {
    border-radius: 10px;
	width: 30%;
	max-width: 160px;
	min-width: 120px;
	height: auto;
	margin-right: 15px;
}
.video-quality {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.movie-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: bold;
    font-size: 20px;
}
.description {
    margin: 10px 0;
    font-size: 16px;
}
.genre-time {
    font-size: 13px;
    color: #aaa;
}

/* Sidebar Section */
.sidebar {
    background-color: #34495e;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    gap: 10px;
    width: auto;
    height: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Search bar */
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.search-icon {
    position: absolute;
    left: 10px;
    color: #888;
}
.search-bar {
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: none;
    background-color: #1a2327;
    color: white;
    font-size: 16px;
    flex-grow: 1;
}
.search-bar:focus {
    outline: none;
}

/* Dropdown */
.category-dropdown {
    background-color: #1a2327;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Popular */
.popular-title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}
.popular-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.popular-movie img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}
.popular-movie a {
    text-decoration: none;
}

/* Soon */
.soon-title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}
.soon-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.soon-movie img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* Responsive */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .movies-section {
        width: 80%;
    }
    .sidebar {
        width: 80%;
    }
}
