/* Search and Search button */
#movieSearch {
	color: white;
	width: 300px;
	padding: 8px;
	font-size: 15px;
	border: 2px solid rgb(25, 108, 217);
	border-radius: 15px;
	margin-left: 45px;
	margin-right: 10px;
	margin-bottom: 20px;
}
button {
	padding: 5px 10px;
	font-size: 15px;
	background-color: rgb(25, 108, 217);
	color: white;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	border: 2px solid rgb(25, 108, 217);
	text-align: center;
}
button:hover {
	background-color: #2980b9;
}
.search-items {
	text-align: center;
}